/* my style */
@mixin one {
       margin-left: 10px;
       margin-right: 10px;
}

@mixin two {
       margin-left: 15px;
       margin-right: 15px;
}

body {
     @include one;
}

div {
    @include two;
}
